<ion-header>
  <ion-toolbar>
    <ion-title>registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logincontainer">
    <h1 class="titulo">Registrar Usuario</h1>
    <form>
        <label for="NombreUsuarioL">Nombre de Usuario</label>
        <input type="text" placeholder="Nombre de usuario">

        <label for="CorreoR">Correo Electronico</label>
        <input type="text" placeholder="Correo Electronico">

        <label for="ConstraseñaUsuarioR">Contraseña</label>
        <input type="password" placeholder="Contraseña">

        <label for="ConstraseñaUsuarioR">Confirmar contraseña</label>
        <input type="password" placeholder="Contraseña del usuario">

        <input type="submit" value="Registrar Usuario">
        <input type="submit" value="Regresar">
    </form>
</div>
</ion-content>
