<ion-header>
  <ion-toolbar>
    <ion-title>iniciosesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logincontainer">
    <h1 class="titulo">Iniciar Sesion</h1>
    <form>
        <label for="NombreUsuarioL">Nombre de Usuario</label>
        <input type="text" placeholder="Nombre de usuario">

        <label for="ConstraseñaUsuarioL">Contraseña del Usuario</label>
        <input type="password" placeholder="Contraseña del usuario">

        <input type="submit" value="Iniciar Sesion">

        <a href="#">Crear una cuenta nueva</a>
    </form>
</div>
</ion-content>
