<ion-header>
  <ion-toolbar>
    <h1>Bienvenido a tu biblioteca :D</h1>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="background">
  <div class="logincontainer">
    <form #form="ngForm"(submit)="ngOnInit()">
      <h1>Inicio de Sesion</h1>
        <label for="NombreUsuarioL">Correo</label>
        <input  [(ngModel)]="correo" type="text" placeholder="Correo"  name="correo" required="">

        <label for="ConstraseñaUsuarioL">Contraseña</label>
        <input  [(ngModel)]="contra" type="password" placeholder="Contraseña del usuario" name="contra"required="">

      <button id="enviar">Iniciar Sesion </button>
<br>
        <a href="/registrarse">Crear una cuenta nueva</a>
    </form>
</div>
</ion-content>
