#container {
  text-align: center;
  background-color: #b80f22;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-content.background {
  --background: linear-gradient(#0000ff, #1cb5e0);
  --color: #ffff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}

a{
  background: linear-gradient(#bf00ff, #df013a);
  color: #ffff;
  padding: 15px 15px;
  text-align: center;
  display: table-cell;
  border-radius: 20px;
  margin-bottom: 50;
  border-radius: 20px;
  padding: 10px 50px;
  margin: 10px;
  text-decoration: none;
}
