<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title block>
      Hola mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <h1>Saludos del mundo de la mazana</h1>
  </div>
  
  <ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-label>Libros de BD</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Libros de programacion web</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-label>Libros de Frameworks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-label>Libros de Algoritmos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-label>Libros de hisortia del software</ion-label>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-label>¿Donde encontrarlos?</ion-label>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-label>Otros</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
