<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>Bliblioteca de la UPT</h1>
    <ion-button slot="end" href="/iniciosesion">
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  

  <div id="container">
  </div>
  
  <ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-label>Libros Actules De la biblioteca</ion-label>
    </ion-segment-button>
  </ion-segment>

    <ul class="list-group">
    <li *ngFor="let mensaje of mensajes" class="list-group-item">
    <h2> Titulo del libro: {{mensaje.title}}</h2>
    <p>Autor del libro: {{mensaje.author}}</p>
    <p>Numero de Serie: {{mensaje.ID}}</p>
    <center>
      <a href="pedidos" id="enviar">Pedir libros</a>
    </center>
    
    <br>
    <ion-avatar>
      <img src="https://th.bing.com/th/id/R.b16ac702a3fb0d49c49dc6c081549bdf?rik=eKnbh5lJoiA2vg&pid=ImgRaw&r=0">
    </ion-avatar>
  </li>
</ul>
</ion-content>