<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>Bliblioteca de la UPT</h1>
    <ion-button slot="end" href="/iniciosesion">
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container">
  </div>
  
  <ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-label>Libros Actules De la biblioteca</ion-label>
    </ion-segment-button>
  </ion-segment>

    <ul class="list-group">
    <li *ngFor="let mensaje of mensajes" class="list-group-item">
    <h2> Titulo del libro: {{mensaje.title}}</h2>
    <p>Autor del libro: {{mensaje.author}}</p>
     <p>Numero de Serie: {{mensaje.ID}}</p>
    <a href="pedidos" id="enviar">Pedir libro</a>
  </li>

</ul>
</ion-content>
 